.profile__info {
  margin: 26px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 244px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .profile__info {
    margin: 0 40px 0 0;
    padding-left: 30px;
  }
}
