.photo-card__like-button {
  flex: none;
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like-img-disabled.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  transition: opacity .4s ease;
}

.photo-card__like-button:hover {
  opacity: .5;
}

.photo-card__like-button:active {
  outline: none;
}
