.header {
  box-sizing: border-box;
  min-height: 83px;
  border-bottom: 1px solid rgba(84,84,84, .7);
  max-width: 880px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 119px;
  }
}
