.form {
  margin: 0;
  padding: 25px 22px;

  min-height: 322px;
  width: 358px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: black;
  background-color: white;
  border-radius: 10px;
}

.form[name=act-submit-form] {
  min-height: 0;
}

.form[name=avatar-edit-form] {
  min-height: 272px;
}

.form[name=register-form] {
  min-height: 476px;
}

.form[name=login-form] {
  min-height: 430px;
}

.form[name=success-tooltip-form] {
  width: 100%;
  min-height: 330px;
  background-image: url(../../images/rgister-success.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.form[name=fail-tooltip-form] {
  width: 100%;
  min-height: 330px;
  background-image: url(../../images/login-fail.svg);
  background-repeat: no-repeat;
  background-position: center 60px;
}


@media screen and (min-width: 768px) {
  .form {
    padding: 34px 36px 37px 36px;
  }
}

@media screen and (min-width: 980px) {
  .form {
    min-height: 330px;
  }
}

