.form {
  margin: 0;
  padding: 25px 22px;

  min-height: 322px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: black;
  background-color: white;
  border-radius: 10px;
}

.form[name=act-submit-form] {
  min-height: 0;
}

.form[name=avatar-edit-form] {
  min-height: 272px;
}


@media screen and (min-width: 768px) {
  .form {
    padding: 34px 36px 37px 36px;
  }
}

@media screen and (min-width: 980px) {
  .form {
    min-height: 330px;
  }
}

